<script>
    /** @typedef {import('svelte').ComponentType} ComponentType */

    /** @type {ComponentType} */
    export let icon;

    export let selected = false;
</script>

<button on:click on:mouseenter on:mouseleave class:selected>
    <svelte:component this={icon} />
</button>

<style lang="scss">
    button {
        --size: 1.2rem;

        box-sizing: content-box;

        height: var(--size);
        width: var(--size);

        padding: 0.3rem;

        background-color: transparent;
        border: nonr;

        & :global(svg) {
            width: 100%;
            height: 100%;
        }

        &:hover {
            background-color: rgba(255 255 255 / 0.2);
        }

        &.selected {
            background-color: rgba(255 255 255 / 0.2);

            &:hover {
                background-color: rgba(255 255 255 / 0.4);
            }
        }
    }
</style>
