<script>
    /** @typedef {import('$types').ColorBoxContext} ColorBoxContext */

    import { onDestroy, setContext } from 'svelte';
    import { appState } from '$lib/stores/app_state';
    import Popup from '$lib/components/ui/Popup/Popup.svelte';
    import { Color } from '$lib/model/color';
    import { createRootContext, rootContextKey } from './context';
    import { boxTypes, headerCommands } from './box_types';
    import { LinkTypeContext } from './box_types/link/type_context';

    export let initialColor = Color.default();

    /** @type {ColorBoxContext} */
    // @ts-ignore
    export let context = null;
    if (context)  {
        setContext(rootContextKey, context);
    } else {
        context = createRootContext({ initialColor });
    }

    const { colorStore, type, typeContext, edit, revealed } = context;
    $: color = $colorStore;
    $: selectMode = $appState.mode === 'select_box';
    /** @type {HTMLElement} */
    let popupTarget;
    const margin = 10;

    function onClick() {
        if ($appState.mode === 'normal') {
            $edit = true;
        } else if ($appState.mode === 'select_box' && $appState.selectBoxCallback) {
            $appState.selectBoxCallback(context);
        }
    }

    function revealLink() {
        getLinkContext()?.linkedBoxContext.revealed.set(true);
    }

    function unrevealLink() {
        getLinkContext()?.linkedBoxContext.revealed.set(false);
    }

    /**
     * @returns {?LinkTypeContext}
     */
    function getLinkContext() {
        const linkContext = $typeContext;
        return linkContext instanceof LinkTypeContext ? linkContext : null;
    }

    onDestroy(() => {
        unrevealLink();
    });
</script>

<div class="color-box" class:edit={$edit} class:revealed={$revealed} class:select-mode={selectMode}>
    <div
        class="outer for-popup"
        bind:this={popupTarget}
        style:--margin={margin}
    >
        <div
            class="inner for-popup"
            style:--red={$color.r}
            style:--green={$color.g}
            style:--blue={$color.b}
            on:mouseenter={revealLink}
            on:mouseleave={unrevealLink}
            on:click={() => { $edit = false }}
        ></div>

        {#each headerCommands as headerCommand}
            <svelte:component this={headerCommand.command} />
        {/each}

        <slot name="extra-header-commands" {context} />
    </div>

    <div class="outer for-reveal" on:click={onClick} >
        <div class="inner for-reveal" style:color="transparent"></div>
    </div>

    <div
        class="outer"
        on:click={onClick}
        style:--margin={margin}
        role="dialog"
    >
        <div
            class="inner"
            style:--red={$color.r}
            style:--green={$color.g}
            style:--blue={$color.b}
            on:mouseenter={revealLink}
            on:mouseleave={unrevealLink}
        ></div>
    </div>

    <Popup
        getTarget={() => popupTarget}
        visible={$edit}
        extraPopupElement={popupTarget}
        on:close={() => { $edit = false }}
    >
        <svelte:component this={boxTypes[$type].popupContent} />
    </Popup>
</div>

<style lang="scss">
    :global(:root) {
        // The following variable is overridden dynamically in `src/lib/constants.js`:
        --color-box--size: 30px;
        --color-box--border-width: 2px;
    }

    .color-box {
        :global(.popup) {
            border-top-left-radius: 0;
        }

        .outer {
            --margin: 0;

            display: inline-block;
        }

        .outer.for-popup {
            --margin-px: calc(var(--margin) * 1px);

            position: absolute;

            display: flex;
            align-items: center;

            pointer-events: none;

            opacity: 0;
            padding: var(--margin-px);
            transform: translate(calc(-1 * var(--margin-px)), calc(-1 * var(--margin-px)));

            z-index: var(--popup-z-index);

            border-top-left-radius: var(--popup-border-radius);
            border-top-right-radius: var(--popup-border-radius);

            background-color: var(--popup-background-color);

            transition: opacity var(--transition-speed);
        }

        .outer.for-reveal {
            position: absolute;
            pointer-events: none;

            .inner {
                background-color: transparent;
                border-style: dashed;
                border-width: 3px;
            }
        }

        .inner {
            --red: 0;
            --green: 0;
            --blue: 0;

            width: var(--color-box--size);
            height: var(--color-box--size);

            background-color: rgb(var(--red), var(--green), var(--blue));

            border-width: var(--color-box--border-width);
            border-style: solid;
            border-radius: 3px;
            border-color: transparent;

            transition:
                border-color var(--transition-speed),
                opacity var(--transition-speed),
            ;

            &.for-popup {
                border-color: white;

                // TODO: remove this and create a ".header-commands" container:
                & + :global(*) {
                    margin-left: 0.5rem;
                }
            }
        }

        // &.editable {
            .inner {
                cursor: pointer;
            }

            .inner:not(.for-popup):hover {
                border-color: white;
            }

            &.edit .outer.for-popup {
                pointer-events: initial;
                opacity: 1;
            }
        // }

        &.select-mode:not(.edit) {
            .inner.for-reveal {
                pointer-events: initial;
            }
        }
        &.select-mode:not(.edit) .inner.for-reveal:hover,
        &.revealed .inner.for-reveal {
            border-color: white;
        }
    }
</style>
