<script>
	import '../style/reset.css';
	import '../style/global.scss';

    import { onMount } from 'svelte';

    import bootstrap from  '$lib/bootstrap';
    import AppModeBanner from '$lib/components/layout/AppModeBanner.svelte';

    onMount(bootstrap);
</script>

<div class="app">
    <main>
        <slot />
    </main>
    <AppModeBanner />
</div>
