<script>
    import { onMount } from 'svelte';
    import IconPlus from 'virtual:icons/fontisto/plus-a';

    import Button from '$lib/components/ui/Button.svelte';
    import PaletteContainer from '$lib/components/color/palette_container/PaletteContainer.svelte';
    import { PaletteContext } from '$lib/components/color/palette/context';
    import { GradientTypeContext } from '$lib/components/color/palette/palette_types/gradient/type_context';
    import { CollectionTypeContext } from '$lib/components/color/palette/palette_types/collection/type_context';
    import { Color } from '$lib/model/color';

    /** @typedef {import('$lib/components/color/palette_container/types').AddPaletteOptions} AddPaletteOptions */

    /** @type {PaletteContainer} */
    let paletteContainer;

    /** @type {AddPaletteOptions[]} */
    let initialPalettes = [
        {
            maxColumns: 16,
            context: new PaletteContext({
                initial: {
                    type: 'gradient',
                    typeContext: new GradientTypeContext({
                        startColor: color('#40a0a0'),
                        endColor: color('#3c57a9'),
                    }),
                },
            }),
        }, {
            maxColumns: 7,
            context: new PaletteContext({
                initial: {
                    type: 'collection',
                    typeContext: new CollectionTypeContext({
                        initialColors: [
                            color('#40a0a0'),
                            color('#a6533c'),
                            color('#5c9f43'),
                            color('#3c57a9'),
                            color('#40a0a0'),
                            color('#a6533c'),
                            color('#5c9f43'),
                            color('#3c57a9'),
                        ],
                    }),
                },
            }),
        }, {
            maxColumns: 16,
            context: new PaletteContext({
                initial: {
                    type: 'collection',
                    typeContext: new CollectionTypeContext({
                        initialColors: [
                            color('#7a4a91'),
                            color('#a56f39'),
                            color('#a4d240'),
                        ],
                    }),
                },
            }),
        },
    ];

    /**
     * @param {string} hex
     * @returns {Color}
     */
    function color(hex) {
        return Color.fromHex(hex) || Color.default();
    }

    onMount(() => {
        for (const initialPalette of initialPalettes) {
            paletteContainer.addPalette(initialPalette);
        }
    });
</script>

<div class="page">
    <div class="command-zone">
        <Button icon={IconPlus} on:click={() => { paletteContainer.addCollection() }}>
            New collection
        </Button>
        <Button icon={IconPlus} on:click={() => { paletteContainer.addGradient() }}>
            New gradient
        </Button>
    </div>

    <PaletteContainer bind:this={paletteContainer} />
</div>

<style lang="scss">
    .page {
        --padding: 0.7rem;

        .command-zone {
            display: flex;
            gap: 1rem;
            padding: var(--padding);
            background-color: black;
        }
    }
</style>
