<script>
    import { uid } from 'uid';

    import { fly } from 'svelte/transition';
    import { createEventDispatcher, tick } from 'svelte';

    import { clickOutside } from '$lib/actions/click_outside';
    import { transitionSpeed } from '$lib/constants';
    import { popupState } from './stores';

    export const id = uid();

    /**
     * The target element which triggers the popup, needed to calculate the popup position.
     * @type Function|null
     */
    export let getTarget = null;

    /** @type number */
    export let gap = 0;

    export let visible = false;

    /**
     * If given, any click inside this element will not trigger the popup close.
     * @type {Node|undefined}
     */
    export let extraPopupElement = undefined;

    $: ((visible) => {
        if (visible) {
            popupState.openPopup(id);
        } else {
            popupState.closePopup(id);
        }
    })(visible);

    export function open() {
        visible = true;
        dispatch('open');
    }

    export function close() {
        visible = false;
        dispatch('close');
    }

    let dispatch = createEventDispatcher();
    /** @type HTMLElement */
    let target;
    /** @type HTMLElement */
    let mainDiv;

    $: if (visible) {
        updatePosition();
    }

    async function updatePosition() {
        await tick();
        if (typeof getTarget === 'function') {
            target = getTarget();
        }
        if (!mainDiv || !target) {
            return;
        }
        const rect = target.getBoundingClientRect();
        const top = rect.bottom + gap;
        const left = rect.left + gap;
        mainDiv.style.top = `${top}px`;
        mainDiv.style.left = `${left}px`;
    }
</script>

{#if visible }
    <div
        bind:this={mainDiv}
        class="popup"
        transition:fly={{ duration: transitionSpeed, y: -gap, x: -gap }}
        use:clickOutside={{ exclude: extraPopupElement }}
        on:outclick={close}
    >
        <slot />
    </div>
{/if}

<style lang="scss">
    :global(:root) {
        --popup-background-color: var(--color-bg-2);
        --popup-border-radius: 6px;
        --popup-z-index: 100;
    }

    div {
        position: fixed; // TODO TODO
        padding: 0.5em;
        background-color: var(--popup-background-color);
        border-color: #888;
        border-radius: var(--popup-border-radius);
        z-index: var(--popup-z-index);
    }
</style>
