<script>
    import { ColorChooser } from '$lib/components/color/color_chooser';
    import { getRootContext } from '../../context';

    const { colorStore } = getRootContext();
    $: color = $colorStore;
</script>

<ColorChooser {color} />
