<script>
    /** @typedef {import('svelte').ComponentType} ComponentType */

    /** @type {ComponentType=} */
    export let icon = undefined;
</script>

<button on:click>
    {#if icon}
        <div class="icon">
            <svelte:component this={icon} />
        </div>
    {/if}
    <div class="text">
        <slot />
    </div>
</button>

<style lang="scss">
    button {
        display: flex;
        gap: 0.5em;
        align-items: stretch;
        padding: 0.5em 1em;

        :global(svg) {
            width: 100%;
            height: 100%;
        }

        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
        }
    }
</style>
