<script>
    import { createEventDispatcher } from "svelte";

    /** @type {string} */
    export let text;

    /** @type {HTMLElement=} */
    export let element = undefined;

    const dispatch = createEventDispatcher();

    /**
     * @param {KeyboardEvent} ev
     */
    function onKeyDown(ev) {
        if (ev.key === 'Enter') {
            element?.blur();
        }
    }

    function onInput() {
        text = element?.innerText || '';
    }

    /**
     * @param {FocusEvent} event
     */
    function onBlur(event) {
        window.getSelection()?.removeAllRanges();
        dispatch('blur', { event });
    }
</script>

<span
    bind:this={element}
    contenteditable
    on:keydown={onKeyDown}
    on:input={onInput}
    on:blur={onBlur}
    {...$$restProps}
>
    {text}
</span>

<style lang="scss">
    span {
        cursor: text;
    }
</style>
