<script>
    import { disableDnd } from '$lib/actions/disable_dnd';
    import { useActions } from '$lib/actions/use_actions';

    /** @typedef {import('svelte').ComponentType} ComponentType */
    /** @template P @typedef {import("$lib/actions/use_actions").ActionArray<P>} ActionArray */

    /** @type {ComponentType} */
    export let icon;

    /**
     * The size of button (style shortcut).
     * @type {string=}
     */
    export let cssSize = undefined;

    export let style = '';

    /** @type {ActionArray<any>} */
     export let use = [];

    $: finalStyle = getFinalStyle(cssSize, style);

    /**
     * @param {string | undefined} cssSize
     * @param {string} style
     */
    function getFinalStyle(cssSize, style) {
        if (cssSize !== undefined) {
            style = style.replace(/[ ;]+/, '');
            if (style !== '') {
                style += '; ';
            }
            style += `width: ${cssSize}; height: ${cssSize}`;
        }
        return style;
    }
</script>

<!-- TODO: remove `use:disableDnd` and add it to `use:useActions` instead, where needed -->
<button
    on:click
    use:disableDnd
    use:useActions={use}
    style={finalStyle}
    {...$$restProps}
>
    <svelte:component this={icon} />
</button>

<style lang="scss">
    button {
        cursor: pointer !important;
    }

    button :global(svg) {
        width: 100%;
        height: 100%;
    }
</style>
