<script>
    import { onDestroy, createEventDispatcher } from 'svelte';
    import { writable } from 'svelte/store';
    import { createSlider, melt } from '@melt-ui/svelte';

    let dispatch = createEventDispatcher();

    export let min = 0;
    export let max = 100;
    export let step = 0.01;
    export let value = [0];

    let valueStore = writable(value);

    const {
        elements: { root, range, thumb },
    } = createSlider({
        defaultValue: value,
        value: valueStore,
        max,
        min,
        step,
        onValueChange,
    });

    let unsubscribe = valueStore.subscribe(v => {
        value = v;
    });
    $: updateValueStore(value);

    /**
     * @type import('@melt-ui/svelte/internal/helpers').ChangeFn<number[]>
     */
    function onValueChange({ curr, next }) {
        value = next;
        dispatch('change', { curr, next });
        return next;
    }

    /**
     * @param {number[]} value
     */
    async function updateValueStore(value) {
        if (value === undefined) return;
        valueStore.set(value);
    }

    onDestroy(unsubscribe);
</script>

<span use:melt={$root} class="slider">
    <span class="range-outer">
        <span use:melt={$range} class="range-inner" />
    </span>
    <span use:melt={$thumb()} class="thumb" />
</span>

<style lang="scss">
    .slider {
        --range-height: 6px;
        --thumb-size: 13px;

        position: relative;

        display: flex;
        align-items: center;

        height: 20px;
        width: 200px;

        margin-left: calc(var(--thumb-size) / 2);
        margin-right: calc(var(--thumb-size) / 2);

        .range-outer {
            display: block;
            height: var(--range-height);
            width: 100%;
            border-radius: calc(var(--range-height) / 2);
            background-color: #666;
        }

        .range-inner {
            height: var(--range-height);
        }

        .thumb {
            display: block;
            width: var(--thumb-size);
            height: var(--thumb-size);
            border-radius: 100%;
            background-color: #aaa;
        }
    }
</style>
