<script>
    import { Color } from '$lib/model/color';
    import ColorComponent from './ColorComponent.svelte';
    import TextInput from '../../ui/TextInput.svelte';

    /** @type {import('svelte/store').Writable<Color>} */
    export let color;

    /** @type {number} */
    $: r = $color.r;
    /** @type {number} */
    $: g = $color.g;
    /** @type {number} */
    $: b = $color.b;
    /** @type {number} */
    $: h = $color.h;
    /** @type {number} */
    $: s = $color.s;
    /** @type {number} */
    $: l = $color.l;

    /** @type {string} */
    let hex;
    let validHexColor = true;
    /** @type {HTMLInputElement} */
    let hexInput;

    $: {
        if (hexInput && document.activeElement === hexInput) {
            const c = Color.fromHex(hexInput.value);
            validHexColor = c !== null;
            if (c !== null) {
                $color = c;
            }
        } else {
            validHexColor = true;
            hex = $color.hex;
        }
    }

    function updateFromRgb() {
        $color = Color.fromRgb({r, g, b});
    }

    function updateFromHsl() {
        $color = Color.fromHsl({h, s, l});
    }
</script>

<div class="color-chooser">
    <div class="component-groups">
        <div class="component-group">
            <ColorComponent
                label="R"
                min={0}
                max={255}
                step={1}
                bind:value={r}
                on:change={updateFromRgb}
                colorBox={`rgb(${r}, 0, 0)`}
            />
            <ColorComponent
                label="G"
                min={0}
                max={255}
                step={1}
                bind:value={g}
                on:change={updateFromRgb}
                colorBox={`rgb(0, ${g}, 0)`}
            />
            <ColorComponent
                label="B"
                min={0}
                max={255}
                step={1}
                bind:value={b}
                on:change={updateFromRgb}
                colorBox={`rgb(0, 0, ${b})`}
            />
        </div>

        <div class="component-group">
            <ColorComponent
                label="H"
                bind:value={h}
                on:change={updateFromHsl}
                colorBox={`hsl(${h}turn 50% 50%)`}
                formatter={value => `${Math.round(value * 360)}°`}
            />
            <ColorComponent
                label="S"
                bind:value={s}
                on:change={updateFromHsl}
                colorBox="hidden"
            />
            <ColorComponent
                label="L"
                bind:value={l}
                on:change={updateFromHsl}
                colorBox={`rgb(${l * 255} ${l * 255} ${l * 255})`}
             />
        </div>

        <div class="component-group">
            <TextInput
                bind:valid={validHexColor}
                bind:value={hex}
                bind:input={hexInput}
                style="font-family: monospace"
            />
        </div>
    </div>
</div>

<style lang="scss">
    .component-groups {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .component-group {
            display: flex;
            flex-direction: column;
            width: 200px;
            gap: 5px;
        }
    }
</style>
