<script>
    import { createEventDispatcher } from 'svelte';
    import Slider from '../../ui/Slider.svelte';

    let dispatch = createEventDispatcher();

    /** @type {string} */
    export let label;
    export let min = 0.0;
    export let max = 1.0;
    export let step = 0.001;
    /** @type {number} */
    export let value;
    /** @type {string|boolean} */
    export let colorBox = false;
    export let formatter = format;

    $: colorBoxDisplay = colorBox === false ? 'none' : 'inline-block';
    $: colorBoxVisibility = colorBox === 'hidden' ? 'hidden' : 'visible';
    $: colorBoxColor = typeof colorBox === 'string' && colorBox !== 'hidden' ? colorBox : 'black';
    $: values = [value];

    /**
     * @param {number} value
     */
    function format(value) {
        if (min === 0.0 && max === 1.0) {
            return `${Math.round(value * 100)} %`;
        } else {
            return `${Math.round(value)}`;
        }
    }

    /**
     * @param {CustomEvent} ev
     */
    function onChange(ev) {
        value = ev.detail.next[0]
        dispatch('change', ev.detail);
    }
</script>

<div class="color-component">
    <span class="label">{label}</span>
    <div
        class="color-box"
        style:visibility={colorBoxVisibility}
        style:display={colorBoxDisplay}
        style:background-color={colorBoxColor}
    ></div>
    <Slider
        bind:value={values}
        min={min}
        max={max}
        step={step}
        on:change={onChange}
    />
    <div style="position: absolute; white-space: nowrap; left: 220px; color: #666">
        {formatter(value)}
    </div>
</div>

<style lang="scss">
    .color-component {
        display: flex;
        align-items: center;

        .label {
            position: relative;
            width: 1em;

            font-family: sans-serif;
            user-select: none;
        }

        .color-box {
            --size: 1rem;
            flex-shrink: 0;
            width: var(--size);
            height: var(--size);
            margin-left: 0.3rem;
            margin-right: 0.4rem;
            border-radius: 4px;
        }
    }
</style>
