:root {
    color-scheme: dark;

    --color-fg: #e8e6e3;

    --color-bg: #181a1b;
    --color-bg-1: #27292a;
    --color-bg-2: #3b3d3e;
    --color-bg-3: #4f5152;

    --color-invalid-2: #d24545;

    // The following variable is overridden dynamically in `src/lib/constants.js`:
    --transition-speed-ms: 300;
    --transition-speed: calc(var(--transition-speed-ms) * 1ms);
    --transition-easing: cubic-bezier(0.26, 0.87, 0.52, 1);

    --button--background-color: #333;
    --button--background-color--hover: #444;

    // TODO: replace 'px' by 'rem' and use these vars almost everywhere:
    --border-radius--2: 0.2rem;
    --border-radius--3: 0.3rem;
    --border-radius--4: 0.4rem;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

    font-family: sans-serif;

    color: var(--color-fg);
    background-color: var(--color-bg);
}

input[type=text],
input[type=number] {
    padding: 0.3em 0.4em;

    border: 1px solid rgba(255 255 255 / 0.3);
    border-radius: var(--border-radius--2);
    color: #ddd;
    background-color: #222;

    &:focus {
        background-color: #333;
    }
    &.invalid {
        background-color: #650b0b;
    }
}

button {
    padding: 0;

    cursor: pointer;

    color: #ddd;
    background-color: var(--button--background-color);

    border: 0;
    border-radius: var(--border-radius--2);

    &:hover {
        background-color: var(--button--background-color--hover);
    }
}
