<script>
    import { writable } from "svelte/store";

    import IconRightArrow from "virtual:icons/mingcute/arrow-right-fill";

    import { ColorBox } from "$lib/components/color/color_box";
    import { getRootContext } from "../../context";
    import { GradientTypeContext } from "./type_context";

    /** @template T @typedef {import('svelte/store').Writable<T>} Writable */
    /** @typedef {import('$types').ColorBoxContext} ColorBoxContext */
    /** @typedef {import('../../types').ColorBoxItem} ColorBoxItem */

    const { typeContext } = getRootContext();

    /** @type {ColorBoxContext=} */
    let startColorBoxContext;
    /** @type {ColorBoxContext=} */
    let endColorBoxContext;
    /** @type {Writable<number>=} */
    let nbSteps;
    /** @type {Writable<ColorBoxItem[]>} */
    let stepColorBoxItems;

    $: ((_) => {
        const gradientContext = getGradientContext();
        startColorBoxContext = gradientContext?.startColorBoxItem.props.context;
        endColorBoxContext = gradientContext?.endColorBoxItem.props.context;
        nbSteps = gradientContext?.nbSteps;
        stepColorBoxItems = gradientContext?.stepColorBoxItems || writable([]);
    })($typeContext);

    /**
     * @returns {?GradientTypeContext}
     */
    function getGradientContext() {
        const gradientContext = $typeContext;
        return gradientContext instanceof GradientTypeContext ? gradientContext : null;
    }
</script>

<div class="content">
    <div class="setup">
        <input type="number" min="2" bind:value={$nbSteps} />
        <ColorBox context={startColorBoxContext} />
        <IconRightArrow />
        <ColorBox context={endColorBoxContext} />
    </div>

    <div class="gradient">
        {#each $stepColorBoxItems as item (item.id)}
            <ColorBox context={item.props.context} />
        {/each}
    </div>
</div>

<style lang="scss">
    .content {
        display: flex;
        flex-direction: column;
    }

    .setup {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: var(--padding);

        input[type=number] {
            width: 4em;
        }
    }

    .gradient {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        padding: var(--padding);
        max-width: calc(
            var(--max-columns) * (var(--color-box--size) + var(--gap))
            - var(--gap)
            + 2 * var(--padding)
        );
    }
</style>
