<script>
    import { transitionSpeed } from "$lib/constants";
    import { createDropdownMenu, melt } from "@melt-ui/svelte";
    import { setContext } from "svelte";
    import { fly } from "svelte/transition";

    const dropdownMenu = createDropdownMenu({
        positioning: {
            placement: 'bottom-start',
            gutter: 0,
        },
    });

    const {
        elements: { trigger, menu },
        states: { open },
    } = dropdownMenu;

    setContext('dropdownMenu', dropdownMenu);
</script>

<slot name="trigger" trigger={$trigger} />

{#if $open}
    <div
        class="menu"
        use:melt={$menu}
        transition:fly={{ duration: transitionSpeed }}
    >
        <slot name="menu" />
    </div>
{/if}

<style src="./style.scss"></style>
