<script>
    import { melt } from "@melt-ui/svelte";
    import { getContext } from "svelte";

    /** @typedef {import('$lib/components/ui/melt-ui-types').DropdownMenu} DropdownMenu */

    /** @type {DropdownMenu} */
    const dropdownMenu = getContext('dropdownMenu');

    const {
        elements: { item },
    } = dropdownMenu;
</script>

<div class="item" use:melt={$item}>
    <div class="text-zone">
        <slot />
    </div>
    <div class="right-zone"></div>
</div>

<style src="./style.scss"></style>
