<script>
    import IconRadioOn from 'virtual:icons/fontisto/radio-btn-active';
    import IconRadioOff from 'virtual:icons/fontisto/radio-btn-passive';
    import { melt } from "@melt-ui/svelte";
    import { getContext } from "svelte";

    /** @typedef {import('$lib/components/ui/melt-ui-types').DropdownMenuRadioGroup} DropdownMenuRadioGroup */

    /** @type {string} */
    export let value;

    /** @type {DropdownMenuRadioGroup} */
    const radioGroupContext = getContext('radioGroup');

    const {
        elements: { radioItem },
        helpers: { isChecked },
    } = radioGroupContext;
</script>

<div class="item" use:melt={$radioItem({ value })}>
    <div class="left-zone">
        {#if $isChecked(value)}
            <IconRadioOn />
        {:else}
            <IconRadioOff />
        {/if}
    </div>
    <div class="text-zone">
        <slot />
    </div>
    <div class="right-zone"></div>
</div>

<style src="./style.scss"></style>
