<script>
    import { melt } from "@melt-ui/svelte";
    import { getContext, setContext } from "svelte";

    /** @template T @typedef {import('svelte/store').Writable<T>} Writable */
    /** @typedef {import('$lib/components/ui/melt-ui-types').DropdownMenu} DropdownMenu */

    /** @type {Writable<string>} */
    export let value;

    /** @type {DropdownMenu} */
    const dropdownMenu = getContext('dropdownMenu');

    const {
        builders: { createMenuRadioGroup },
    } = dropdownMenu;

    const radioGroupContext = createMenuRadioGroup({
        value,
    });
    setContext('radioGroup', radioGroupContext);

    const {
        elements: { radioGroup },
    } = radioGroupContext;
</script>

<div use:melt={$radioGroup}>
    <slot />
</div>
