.menu {
    --border-radius: var(--border-radius--2);

    display: flex;
    flex-direction: column;

    background-color: var(--color-bg-2);
    font-size: 0.9rem;

    border-radius: var(--border-radius);
}

.item {
    display: flex;

    padding: 0.4rem 0.7rem;

    white-space: nowrap;
    cursor: pointer;

    border-radius: var(--border-radius);

    &[data-highlighted], &[data-state=open] {
        background-color: var(--color-bg-3);
    }

    .left-zone {
        width: 1.5em;
    }
    .text-zone {
        flex-grow: 1;
    }
}
