<script>
    import { transitionSpeed } from "$lib/constants";
    import { melt } from "@melt-ui/svelte";
    import { getContext } from "svelte";
    import { fly } from "svelte/transition";

    /** @typedef {import('$lib/components/ui/melt-ui-types').DropdownMenu} DropdownMenu */

    /** @type {DropdownMenu} */
    const dropdownMenu = getContext('dropdownMenu');

    const {
        builders: { createSubmenu },
    } = dropdownMenu;

    const {
        elements: { subMenu, subTrigger },
        states: { subOpen },
    } = createSubmenu({
        positioning: {
            placement: 'right-start',
            gutter: 2,
        },
    });
</script>

<div class="item" use:melt={$subTrigger}>
    <div class="text-zone">
        <slot name="item" />
    </div>
    <div class="right-zone">
        <!-- TODO: -->
        <span style="margin-left: 1em; font-size: 0.6em; vertical-align: 30%;">
            ▶
        </span>
    </div>
</div>

{#if $subOpen}
    <div
        class="menu"
        use:melt={$subMenu}
        transition:fly={{ duration: transitionSpeed, x: -50 }}
    >
        <slot name="sub-menu" />
    </div>
{/if}

<style src="./style.scss"></style>
