<script>
    import DropdownMenu from '$lib/components/ui/DropdownMenu/DropdownMenu.svelte';
    import RadioGroup from '$lib/components/ui/DropdownMenu/RadioGroup.svelte';
    import RadioItem from '$lib/components/ui/DropdownMenu/RadioItem.svelte';
    import SubMenu from '$lib/components/ui/DropdownMenu/SubMenu.svelte';
    import { getRootContext } from './context';
    import { paletteTypes } from './palette_types';

    const { type } = getRootContext();
</script>

<DropdownMenu>
    <svelte:fragment slot="trigger" let:trigger>
        <slot name="trigger" {trigger} />
    </svelte:fragment>

    <svelte:fragment slot="menu">
        <SubMenu>
            <svelte:fragment slot="item">Type</svelte:fragment>
            <svelte:fragment slot="sub-menu">
                <RadioGroup value={type}>
                    {#each Object.entries(paletteTypes) as [paletteType, def] (paletteType)}
                        <RadioItem value={paletteType}>
                            {def.label}
                        </RadioItem>
                    {/each}
                </RadioGroup>
            </svelte:fragment>
        </SubMenu>
    </svelte:fragment>
</DropdownMenu>
