<script>
    import { PaletteContext, setRootContext } from './context';
    import { paletteTypes } from './palette_types';
    import TitleBar from './TitleBar.svelte';

    /** @typedef {import('./context').PaletteContext} PaletteContext */

    /** @type {PaletteContext=} */
    export let context;
    /** @type {PaletteContext} */
    const _context = context || new PaletteContext();
    setRootContext(_context);

    const { type } = _context;

    // TODO: move to collection type context
    export let maxColumns = 8;

    export let showCloseButton = true;
</script>

<div class="palette" style:--max-columns={maxColumns}>
    <TitleBar {showCloseButton} on:close />

    <svelte:component this={paletteTypes[$type].content} />
</div>

<style lang="scss">
    .palette {
        --gap: 0.5rem;
        --padding: var(--gap);
        --max-columns: 8; // Overriden, see above

        position: relative;

        background-color: var(--color-bg-1);
        border-radius: 0.25rem;
    }
</style>
