<script>
    import { createEventDispatcher } from "svelte";

    import IconMenu from 'virtual:icons/ooui/menu';
    import IconTimes from 'virtual:icons/humbleicons/times';
    import { melt } from "@melt-ui/svelte";

    import IconButton from "$lib/components/ui/IconButton.svelte";
    import EditableText from "$lib/components/ui/EditableText.svelte";
    import Menu from "./Menu.svelte";
    import { getRootContext } from './context';
    import { get } from "svelte/store";

    export let showCloseButton = true;

    const paletteContext = getRootContext();
    const paletteName = paletteContext.name;
    let currentPaletteName = get(paletteName);
    $: isValidPaletteName = paletteContext.isValidNewName(currentPaletteName);

    const dispatch = createEventDispatcher();
    const cssSize = '1.4rem';
    const style = `
        --button--background-color: transparent;
        padding: 4px;
    `;

    function onClickClose() {
        dispatch('close');
    }

    function onTitleBlur()
    {
        if (isValidPaletteName) {
            $paletteName = currentPaletteName;
        } else {
            currentPaletteName = $paletteName;
        }
    }
</script>

<div class="title-bar">
    <div class="left">
        <div class="title">
            <EditableText
                bind:text={currentPaletteName}
                on:blur={onTitleBlur}
                style='margin-right: 2em;'
                class={isValidPaletteName ? '' : 'invalid'}
            />
        </div>
    </div>
    <div class="right">
        <Menu>
            <svelte:fragment slot="trigger" let:trigger>
                <IconButton
                    icon={IconMenu}
                    use={[[ melt, trigger ]]}
                    {cssSize}
                    {style}
                />
            </svelte:fragment>
        </Menu>

        {#if showCloseButton}
            <IconButton
                icon={IconTimes}
                {cssSize}
                {style}
                on:click={onClickClose}
            />
        {/if}
    </div>
</div>

<style lang="scss">
    .title-bar {
        display: flex;
        height: 1.3rem;
        padding-left: var(--padding);

        .left {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        .title {
            font-size: 0.8em;
        }

        :global(.invalid) {
            color: var(--color-invalid-2);
        }
    }
</style>
