<script>
    import { writable } from 'svelte/store';
    import { cubicOut } from 'svelte/easing';
    import { dndzone } from 'svelte-dnd-action';
    import { flip } from 'svelte/animate';

    import IconPlus from 'virtual:icons/basil/plus-solid';
    import IconTrash from 'virtual:icons/ph/trash';

    import { flipDuration, colorBoxSize } from '$lib/constants';
    import { popupState } from '$lib/components/ui/Popup/stores';
    import IconButton from '$lib/components/ui/IconButton.svelte';
    import { ColorBox, ColorBoxHeaderCommand } from '$lib/components/color/color_box';
    import { getRootContext } from '../../context';
    import { CollectionTypeContext } from './type_context';
    import { tick } from 'svelte';

    /** @template T @typedef {import('svelte/store').Writable<T>} Writable */
    /** @template T @typedef {import('svelte-dnd-action').DndEvent<T>} DndEvent */
    /** @typedef {import('../../types').ColorBoxItem} ColorBoxItem */
    /** @typedef {import('./type_context').AddOptions} AddOptions */
    /** @typedef {import('$lib/components/color/color_box/context').ColorBoxContext} ColorBoxContext */

    let nbOpenedPopups = popupState.nbOpenedPopups;
    $: dragDisabled = $nbOpenedPopups !== 0;

    const { typeContext } = getRootContext();

    /** @type {Writable<ColorBoxItem[]>} */
    $: colorBoxItems = ((_) => {
        const collectionContext = getCollectionContext();
        return collectionContext?.colorBoxItems || writable([]);
    })($typeContext);

    /**
     * @param {AddOptions} options
     */
    async function add(options = {}) {
        const item = getCollectionContext()?.add(options);
        await tick();
        item?.props.context?.startEdit();
    }

    /**
     * @param {string} id
     * @param {?ColorBoxContext=} colorBoxContext
     */
    function remove(id, colorBoxContext) {
        getCollectionContext()?.remove(id, colorBoxContext);
    }

    /**
     * @param {CustomEvent<DndEvent<ColorBoxItem>>} e
     */
    function onConsider(e) {
        $colorBoxItems = e.detail.items;
    }

    /**
     * @param {CustomEvent<DndEvent<ColorBoxItem>>} e
     */
    function onFinalize(e) {
        $colorBoxItems = e.detail.items;
    }

    /**
     * @returns {?CollectionTypeContext}
     */
    function getCollectionContext() {
        const collectionContext = $typeContext;
        return collectionContext instanceof CollectionTypeContext ? collectionContext : null;
    }
</script>

<ul
    class="colors"
    use:dndzone={{
        items: $colorBoxItems,
        type: 'palette',
        flipDurationMs: flipDuration,
        dropTargetStyle: {},
        dragDisabled,
    }}
    on:consider={onConsider}
    on:finalize={onFinalize}
>
    {#each $colorBoxItems as colorBoxItem (colorBoxItem.id)}
        <li animate:flip={{duration: flipDuration, easing: cubicOut}}>
            <ColorBox {...colorBoxItem.props} >
                <svelte:fragment slot="extra-header-commands" let:context={colorBoxContext}>
                    <ColorBoxHeaderCommand
                        icon={IconTrash}
                        on:click={() => { remove(colorBoxItem.id, colorBoxContext) }}
                    />
                </svelte:fragment>
            </ColorBox>
        </li>
    {/each}

    <IconButton
        icon={IconPlus}
        on:click={() => add()}
        cssSize={colorBoxSize}
    />
</ul>

<style lang="scss">
    .colors {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        padding: var(--padding);
        max-width: calc(
            var(--max-columns) * (var(--color-box--size) + var(--gap))
            - var(--gap)
            + 2 * var(--padding)
        );
    }
</style>
