<script>
    import { uid } from 'uid';

    import { flip } from 'svelte/animate';
    import { cubicOut } from 'svelte/easing';
    import { dndzone } from 'svelte-dnd-action';

    import { flipDuration } from '$lib/constants';
    import { popupState } from '$lib/components/ui/Popup/stores';
    import { paletteStorage } from '$lib/stores/palette_storage';
    import { Color } from '$lib/model/color';
    import Palette from '$lib/components/color/palette/Palette.svelte';
    import { PaletteContext } from '$lib/components/color/palette/context';
    import { GradientTypeContext } from '$lib/components/color/palette/palette_types/gradient/type_context';

    /** @template T @typedef {import('svelte-dnd-action').DndEvent<T>} DndEvent */
    /** @typedef {import('./types').PaletteItem} PaletteItem */
    /** @typedef {import('./types').AddCollectionOptions} AddCollectionOptions */
    /** @typedef {import('./types').AddPaletteOptions} AddPaletteOptions */

    /** @type {PaletteItem[]} */
    let palettes = [];

    let nbOpenedPopups = popupState.nbOpenedPopups;
    $: dragDisabled = $nbOpenedPopups !== 0;

    /**
     * @param {AddPaletteOptions} options
     */
    export function addPalette(options) {
        /** @type {PaletteItem} */
        const paletteItem = {
            id: uid(),
            ...options,
        };
        paletteStorage.add(paletteItem.id, paletteItem.context);
        palettes = [ ...palettes, paletteItem ];
    }

    /**
     * @param {AddCollectionOptions=} options
     */
    export function addCollection(options = {}) {
        addPalette({
            ...options,
            context: options.context || new PaletteContext(),
        });
    }

    /**
     * @param {AddCollectionOptions=} options
     */
    export function addGradient(options = {}) {
        addPalette({
            ...options,
            context: options.context || new PaletteContext({
                initial: {
                    type: 'gradient',
                    typeContext: new GradientTypeContext({
                        startColor: Color.default(),
                        endColor: Color.default(),
                    }),
                },
            }),
        });
    }

    /**
     * @param {string} id
     */
    export function removePalette(id)
    {
        const palette = palettes.find(p => p.id === id);
        if (!palette) {
            return;
        }

        palette.context?.leave();
        paletteStorage.remove(id);

        palettes = palettes.filter(p => p.id !== id);
    }

    /**
     * @param {CustomEvent<DndEvent<PaletteItem>>} e
     */
    function onConsider(e) {
        palettes = e.detail.items;
    }

    /**
     * @param {CustomEvent<DndEvent<PaletteItem>>} e
     */
    function onFinalize(e) {
        palettes = e.detail.items;
    }
</script>

<div
    class="palette-container"
    use:dndzone={{
        items: palettes,
        type: 'palette-container',
        flipDurationMs: flipDuration,
        dropTargetStyle: {},
        dragDisabled,
    }}
    on:consider={onConsider}
    on:finalize={onFinalize}
>
    {#each palettes as palette (palette.id)}
        <div animate:flip={{duration: flipDuration, easing: cubicOut}}>
            <Palette
                context={palette.context}
                maxColumns={palette.maxColumns}
                on:close={() => removePalette(palette.id)}
            />
        </div>
    {/each}
</div>

<style lang="scss">
    .palette-container {
        margin-top: 1rem;
        padding: var(--padding);
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }
</style>
