<script>
    import { fly } from 'svelte/transition';

    import { appState } from '$lib/stores/app_state';
    import { transitionSpeed } from '$lib/constants';

    /** @typedef {import('$types').AppStateMode} AppStateMode */

    $: message = getMessage($appState.mode);

    /**
     * @param {AppStateMode} mode
     * @returns {string|null}
     */
    function getMessage(mode) {
        switch (mode) {
            case 'normal': return null;
            case 'select_box': return 'Select the color to link with.';
            default: return null;
        }
    }
</script>

{#if message}
    <div class="app-mode-banner">
        <div class="message" transition:fly={{
            duration: transitionSpeed,
            y: 20,
        }}>
            {message}
        </div>
    </div>
{/if}

<style lang="scss">
    .app-mode-banner {
        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        bottom: 0;
        width: 100%;

        .message {
            padding: 1rem;
            background-color: #444;
            box-shadow: 0px 0px 15px 0px black;
        }
    }
</style>
